@import "tailwindcss";

:root {
  --yellow: #f5d90a;

  --bg: #050505;
  --surface: #090909;

  --text: #f5f5f5;
  --muted: #7a7a7a;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: var(--bg);
  color: var(--text);

  overflow-x: hidden;

  font-family: "Inter", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

::selection {
  background: rgba(245,217,10,0.22);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.08);
}

.mono {
  font-family: "IBM Plex Mono", monospace;
}

.grid-bg {
  background-image:
    linear-gradient(
      rgba(255,255,255,0.025) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,0.025) 1px,
      transparent 1px
    );

  background-size: 64px 64px;
}

.technical-line {
  height: 1px;
  background: rgba(255,255,255,0.06);
}

.noise {
  position: fixed;
  inset: 0;

  opacity: 0.025;

  pointer-events: none;

  background-image:
    radial-gradient(
      rgba(255,255,255,0.04) 1px,
      transparent 1px
    );

  background-size: 3px 3px;
}